<h1>Viewing Party</h1>


<% if user_signed_in? %>
<h2>Existing Users</h2>
  <section id="existing-users">
    <% @users.each do |user| %>
      <ul>
        <li id="user-<%= user.id %>"> <%= link_to user.name, "/users/#{user.id}" %> </li>
      </ul>
    <% end %>
  </section>
<% end %>
</section>
